<form method="post" action="{{ path('bt_par_globales_delete', {'id': bt_par_globale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bt_par_globale.id) }}">
    <button class="btn">Delete</button>
</form>
