<form method="post" action="{{ path('ct_tip_llamadas_delete', {'id': ct_tip_llamada.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ct_tip_llamada.id) }}">
    <button class="btn">Delete</button>
</form>
